@charset "UTF-8";
@font-face {
    font-family: 'titulo';
    src: url(fonts/passionone/PassionOne-Bold.ttf);
}
@font-face {
    font-family: 'subtitulo';
    src: url(fonts/Switzera-Collection/OTF/SwitzeraADF-Regular.otf);
}
@font-face {
    font-family: 'verso';
    src: url(fonts/OTF/ComicNeue-Angular-Regular.otf);
}

* {
    margin: 0;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    font-size: 7vw;
    padding-top: 50px;
    padding-bottom: 4px;
    font-family: 'titulo';
}
header p{
    color: white;
    font-size: 1.9vw;
    font-family: 'subtitulo';
    padding-bottom: 50px;
    font-family: 'subtitulo';
}
a{
    color: white;
    text-decoration: none;
    transition: 200ms ease-in-out;
}
a:hover{
    padding: 3px;
    border: 2px solid;
}
section{
    min-height: 100vh;
    background-size: cover;
}
section p{
    padding-top: 10vh;
    padding-bottom: 8vh;
    padding-left: 30px;
    font-size: 3.5vw;
    font-weight: bolder;
    font-family: 'verso';
    line-height: 2em;
}
section.img{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.477);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}
section.img p{
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.162);
    text-shadow: 1px 1px 0px black;
}
section.img#img01{    background-image: url(imgs/background001.jpg);
    background-position: right bottom;
}
section.img#img02{
    background-image: url(imgs/background002.jpg);
}
footer{
    background-color: black;
    text-align: center;
    color: white;
}